h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $family-serif;
}
html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
}

#root {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
  position: relative;
  padding-top: $navbar-height;

  .content-inner {
    @include ease-out;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    position: relative;
  }
}
.footer {
  flex-shrink: 0;
  z-index: 10;
}

.section {
  &:last-of-type {
    padding-bottom: 5rem;

    @include screen-desktop {
      padding-bottom: 6rem;
    }
  }
}

a {
  @include ease-out;
}

.block:not(:last-child) {
  margin-bottom: 2.5rem;
}

// .page {
//   position: absolute;
//   left: 15px;
//   right: 15px;
// }

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.SlideIn-appear {
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -o-transform: translateX(30px);
  -ms-transform: translateX(30px);
  opacity: 0;
}

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transition: all 0.6s linear;
}
.SlideIn-enter {
  opacity: 0;
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -o-transform: translateX(30px);
  -ms-transform: translateX(30px);
}
.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transition: all 0.2s linear 0.4s;
}
.SlideIn-leave {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
}
.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transition: all 0.2s linear;
}
