h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $family-serif;
}
html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
}

#root {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
  padding-top: $navbar-height;

  .content-inner {
    height: 100%;
    margin-bottom: 0;
    position: relative;
  }
}
.footer {
  flex-shrink: 0;
}

a {
  @include ease-out;
}
