$primary: #121518;
$primary-dark: #000912;
$primary-light: #888a8c;
$info: #251e1b;
$info-dark: #170801;
$info-light: #d8d4d1;

$black: #000;

$link: $info-dark;

@import '../../../../node_modules/bulma/sass/utilities/derived-variables.sass';

// Navbar
$navbar-background-color: $primary-dark;
$navbar-item-color: $info-light !important;
$navbar-item-active-color: $info-light;

// navbar hover styles
$navbar-item-hover-color: #fff !important;
$navbar-item-hover-background-color: $primary-dark !important;

$section-padding: 5rem 1.5rem 0;
$section-padding-desktop: 6rem 3rem;

// Font
$family-sans-serif: "font-family: 'Raleway', sans-serif;";
$family-serif: 'Yeseva One', cursive;

// Footer

$footer-background-color: $primary;
$footer-color: $primary-light;
$footer-padding: 3rem 1.5rem;
