// maybe you should customize it a bit differently
// by replacing primary color
// Work a bit on color scheme
$primary: #121518;
$primary-dark: #000912;
$primary-light: #888a8c;
$info: #251e1b;
$info-dark: #170801;
$info-light: #d8d4d1;
$blue: hsl(204, 71%, 53%);

$black: #000;

$link: $info-dark;

$navbar-background-color: $primary-dark;
$navbar-item-color: $info-light;

$section-padding: 5rem 1.5rem;
$section-padding-desktop: 6rem 3rem;

// Font
$family-sans-serif: "font-family: 'Raleway', sans-serif;";

// Footer

$footer-background-color: $primary;
$footer-color: $primary-light;
$footer-padding: 3rem 1.5rem;
