.modal-content {
  border-radius: $radius;
}

.modal-fade-enter {
  opacity: 0;
}
.modal-fade-enter-active {
  @include ease-out;
  opacity: 1;
}
.modal-fade-exit {
  opacity: 1;
}
.modal-fade-exit-active {
  @include ease-out;
  opacity: 0;
}
