// The main container
.navbar {
  @include until-desktop {
    background-color: transparent;
  }

  .navbar-brand {
    background-color: $navbar-background-color;
    position: relative;
    z-index: 5;

    .brand {
      font-family: $family-serif;
      font-size: 1.5rem;
    }
  }
}

// Navbar menu
.navbar-menu {
  @include until-desktop {
    @include ease-out;

    display: block;
    transform: translate3d(0, -120%, 0);
    opacity: 0;
    position: absolute;
    width: 100%;

    &.is-active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}

// Navbar item
.navbar-item {
  @include screen-desktop {
    @include ease-out;
    border-bottom: 2px solid $info-light;
    clip-path: polygon(
      calc(0% + 2px) calc(0% + 2px),
      /* top left */ calc(100% - 2px) calc(0% + 2px),
      /* top right */ calc(100% - 2px) calc(100% - 2px),
      /* bottom right */ calc(0% + 2px) calc(100% - 2px) /* bottom left */
    );

    &.is-active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}
