.page-card-wrapper {
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.page-card {
  @include ease-out;
  height: 100%;

  .card-header {
    padding-left: 0.5rem;
    align-items: center;

    .icon-wrapper {
      min-width: 3rem;
      min-height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        font-size: 2rem !important;
      }
    }
  }

  &:hover {
    transform: translate3d(0, -10px, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 16px 25px -2.2px,
      rgba(0, 0, 0, 0.02) 0px 0px 0px 1px 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1),
      0 0px 0 1px rgba(0, 0, 0, 0.02);
  }
}
