@import '../utilities//variables';

// General styles for hero images
.HeroImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $primary-dark;
}

// Home page hero image
.HomeImage {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/home/hero.jpg');
}

// History page hero image
.HistoryImage {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/steveMcQueen-Bullitt.jpg');
}

// Car Body Hero Image
.CarBodyImage {
  background-position: center -200px;
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/body/hero.jpg');
}

// Steering image
.SteeringImage {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/steering/2019-steeda-mustang-bullitt-mcqueen-auction-73.jpg');
}

.BrakingImage {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/braking/hero.jpg');
}

.TransmissionImage {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/transmission/hero.jpg');
}

// Image for the main chasis page
.ChasisImage {
  background-position: center -200px;
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/body/hero.jpg');
}

.EngineImage {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/engine/hero.png');
}

// Electronic systems image
.ElectronicsImage {
  background-position: center -200px;
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/electronics/hero.jpg');
}

.SafetyImage {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/electronics/hero.jpg');
}
