@import '../utilities//variables';

.HeroImage {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-dark, 0.8),
      rgba($primary-dark, 0.5)
    ),
    url('../../img/steveMcQueen-Bullitt.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $primary-dark;
}
