.tabs {
  ul {
    border-bottom-color: transparent;
    flex-wrap: wrap;
    flex-shrink: unset;
  }
}

.tab-content {
  // position: absolute;
}

.tab-content-enter {
  opacity: 0;
  // transform: scale(1.1);
}

.tab-content-enter-active {
  opacity: 1;
  // transform: scale(1);
  transition: opacity 300ms;
}

.tab-content-exit {
  opacity: 1;
  // transform: scale(1);
}

.tab-content-exit-active {
  opacity: 0;
  // transform: scale(0.9);
  transition: opacity 300ms;
}

.tab-content-enter-done {
  position: relative;
}
